doctype html
html
    head
        title Phone preference
        link(href='../font-awesome/css/font-awesome.css', rel='stylesheet')
        link(href='../bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        script(src = "../jquery/dist/jquery.min.js", charset = 'utf-8')
        script(src = "../bootstrap/dist/js/bootstrap.min.js")

        style(type='text/css').
            body{
                font-family: "Lato";
                overflow: hidden;
            }
            button{
                margin: 10px;
            }
            .card-row{
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            .fa-heart-o{
                color: #A9ACAE;
            }
            .fa-heart{
                color: #B92425;
            }
            .card{
                display: flex;
                flex-direction: row;
                width: 310px;
                height: 230px;
                margin: 15px;
                border: 1px solid #A9ACAE;
                border-radius: 10px;
            }
            .spec p{
                margin-top: 2px;
                margin-bottom: 2px;
            }
            img{
                height: auto;
                width: 95%;
            }
            #price{
                font-size: 16px;
                font-weight: bold;
                color: #B24040;
                padding-right: 10px;
                padding-top: 10px;
            }
            .card-col{
                display: flex;
                flex-direction: column;
                margin-top: 7px;
                margin-left: 7px;
            }
            .left-col{
                align-items: flex-end;
                width: 45%;
            }
            .right-col{
                align-items: flex-start;
                width: 55%;
            }
            .title{
                margin-left: 13px;
                margin-top: 0px;
                margin-bottom: 0px;
                font-size: 14px;
                font-weight: bold;
            }
            .detail{
                margin-top: 6px;
                margin-left: 10px;
                font-weight: 200;
                font-size: 12px;
                width: 80%;
                height: 20px;
                color: #000000;
                border: 0.5px solid #000000;
                border-radius: 10px;
                text-align: center;
            }
            .detail:hover{
                color: #ffffff;
                background-color: #000000;
            }
            .spec{
                display: flex;
                flex-direction: row;
            }
            .spec-title{
                color: #211f1f;
                font-size: 12px;
                margin-left: 13px;
                font-weight: 200
            }
            .spec-value{
                color: #555555;
                font-size: 12px;
                margin-left: 10px;
            }
            .card-container{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            #refresh{
                text-align: right;
                padding-right: 10%;
            }
            a:hover{
                text-decoration:none;
            }
    body
        p(style='text-align: center;') Please indicate which phones you might be interested in
        #refresh
            i.fa.fa-refresh
        .card-row
            .card-container
                .card
                    .card-col.left-col
                        img(src='')
                        p#price
                    .card-col.right-col
                        p.title
                        .spec
                            .spec-title
                                p Storage
                                p Memory
                                p OS
                                p Camera
                                p Screen
                                p Resolution
                                p Battery
                            .spec-value
                                p#storage.spec
                                p#memory.spec
                                p#os.spec
                                p#camera.spec
                                p#screen.spec
                                p#resolution.spec
                                p#battery.spec
                        a.detail(target='_blank') More Details
                i.fa.fa-heart-o.fa-2x
            .card-container
                .card
                    .card-col.left-col
                        img(src='')
                        p#price
                    .card-col.right-col
                        p.title
                        .spec
                            .spec-title
                                p Storage
                                p Memory
                                p OS
                                p Camera
                                p Screen
                                p Resolution
                                p Battery
                            .spec-value
                                p#storage.spec
                                p#memory.spec
                                p#os.spec
                                p#camera.spec
                                p#screen.spec
                                p#resolution.spec
                                p#battery.spec
                        a.detail(target='_blank') More Details
                i.fa.fa-heart-o.fa-2x
            .card-container
                .card
                    .card-col.left-col
                        img(src='')
                        p#price
                    .card-col.right-col
                        p.title
                        .spec
                            .spec-title
                                p Storage
                                p Memory
                                p OS
                                p Camera
                                p Screen
                                p Resolution
                                p Battery
                            .spec-value
                                p#storage.spec
                                p#memory.spec
                                p#os.spec
                                p#camera.spec
                                p#screen.spec
                                p#resolution.spec
                                p#battery.spec
                        a.detail(target='_blank') More Details
                i.fa.fa-heart-o.fa-2x
        .card-row
            .card-container
                .card
                    .card-col.left-col
                        img(src='')
                        p#price
                    .card-col.right-col
                        p.title
                        .spec
                            .spec-title
                                p Storage
                                p Memory
                                p OS
                                p Camera
                                p Screen
                                p Resolution
                                p Battery
                            .spec-value
                                p#storage.spec
                                p#memory.spec
                                p#os.spec
                                p#camera.spec
                                p#screen.spec
                                p#resolution.spec
                                p#battery.spec
                        a.detail(target='_blank') More Details
                i.fa.fa-heart-o.fa-2x
            .card-container
                .card
                    .card-col.left-col
                        img(src='')
                        p#price
                    .card-col.right-col
                        p.title
                        .spec
                            .spec-title
                                p Storage
                                p Memory
                                p OS
                                p Camera
                                p Screen
                                p Resolution
                                p Battery
                            .spec-value
                                p#storage.spec
                                p#memory.spec
                                p#os.spec
                                p#camera.spec
                                p#screen.spec
                                p#resolution.spec
                                p#battery.spec
                        a.detail(target='_blank') More Details
                i.fa.fa-heart-o.fa-2x
            .card-container
                .card
                    .card-col.left-col
                        img(src='')
                        p#price
                    .card-col.right-col
                        p.title
                        .spec
                            .spec-title
                                p Storage
                                p Memory
                                p OS
                                p Camera
                                p Screen
                                p Resolution
                                p Battery
                            .spec-value
                                p#storage.spec
                                p#memory.spec
                                p#os.spec
                                p#camera.spec
                                p#screen.spec
                                p#resolution.spec
                                p#battery.spec
                        a.detail(target='_blank') More Details
                i.fa.fa-heart-o.fa-2x
        hr
        .row.justify-content-center
            button.btn.btn-primary Back
            button.btn.btn-primary Submit
        script(type='text/javascript').
            window.onload = function(){
                var phones
                var likedPhones =[]
                function fillData(data){
                    var indexes =[]
                    indexes[0] = parseInt(Math.random()*166)
                    indexes[1] = 166+parseInt(Math.random()*166)
                    indexes[2] = 332+parseInt(Math.random()*166)
                    indexes[3] = 498+parseInt(Math.random()*166)
                    indexes[4] = 664+parseInt(Math.random()*166)
                    indexes[5] = 830+parseInt(Math.random()*166)
                    for(var index in indexes){
                        $(".card").eq(index).find("#price").text("$ "+data[indexes[index]].price)
                        $(".card").eq(index).find(".title").text(data[indexes[index]].modelname)
                        $(".card").eq(index).find("#storage").text(data[indexes[index]].storage)
                        $(".card").eq(index).find("#memory").text(data[indexes[index]].ram)
                        $(".card").eq(index).find("#os").text(data[indexes[index]].os1)
                        $(".card").eq(index).find("#camera").text(data[indexes[index]].cam1+" MP")
                        $(".card").eq(index).find("#screen").text(data[indexes[index]].displaysize+" inches")
                        $(".card").eq(index).find("#resolution").text(data[indexes[index]].resolution1+"*"+data[indexes[index]].resolution2)
                        $(".card").eq(index).find("#battery").text(data[indexes[index]].battery+" mAh")
                        $(".card").eq(index).find("a").attr("href",data[indexes[index]].url)
                        $(".card").eq(index).find("img").attr("src",data[indexes[index]].img)
                        $(".card-container").eq(index).attr("data",indexes[index])
                    }
                }
                $.getJSON("../js/newPhone.json",function(data){
                    console.log(data)
                    phones = data.pool
                    fillData(phones)
                })
                $(".fa").click(function () {
                    if(likedPhones.length==3 && !$(this).hasClass("fa-heart")){
                        alert("You have selected 3 phones, please click the Submit button to proceed.")
                    }else if(likedPhones.length==3 && $(this).hasClass("fa-heart")){
                        $(this).removeClass("fa-heart")
                        $(this).addClass("fa-heart-o")
                        var removedIndex = likedPhones.indexOf($(this).parent().attr("data"))
                        likedPhones.splice(removedIndex,1)
                    }
                    else{
                        if($(this).hasClass("fa-heart-o")){
                            $(this).removeClass("fa-heart-o")
                            $(this).addClass("fa-heart")
                            likedPhones.push($(this).parent().attr("data"))
                        }
                        else if($(this).hasClass("fa-heart")){
                            $(this).removeClass("fa-heart")
                            $(this).addClass("fa-heart-o")
                            var removedIndex = likedPhones.indexOf($(this).parent().attr("data"))
                            likedPhones.splice(removedIndex,1)
                        }
                        else if($(this).hasClass("fa-refresh")){
                            fillData(phones)
                        }
                    }
                    console.log(likedPhones)
                })
            }
